.img-responsive
{
    width: 50%;;
}

.image
{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
   
}

@font-face 
{
	font-family: 'Lora-SemiBoldItalic';
	src: url('Lora-SemiBoldItalic.ttf') format('ttf');
}

span
{
font-size:25px;
color: #FFD700;
}

h3
{
    font-weight: bold;
    padding-left: 10px;
    font-family:'Lora-SemiBoldItalic';
}

.cadre
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1, h2{
    text-align: center;
    padding : 20px;
    font-family:'Lora-SemiBoldItalic';
}

.description
{
    padding-bottom: 20px;
    text-align: center;
}

p
{
    text-align: center;
    font-family:'Lora-SemiBoldItalic';
    font-weight: normal;
}

.name
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

