.model
{
    width: 35%;
    border-radius: 50% 10% 50% 10%;
}

@font-face 
{
	font-family: 'Lora-SemiBoldItalic';
	src: url('Lora-SemiBoldItalic.ttf') format('ttf');
}

h1{
    text-align: center;
}

.descri
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.liste
{
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 5%;
}

h2{
    margin-bottom: 5%;
    color: #07016B;
    font-size: 40px;
    font-family: 'Lora-SemiBoldItalic';
}

li{
    margin-bottom: 2%;
    font-family: 'Lora-SemiBoldItalic';
}