h2 {
    text-align: center;
    border : 3px #ebced0 solid;
    padding: 20px ;
    margin-bottom: 100px;
    background-color: pink;
    margin-left: 20%;
    margin-right: 20%;
}

.image
{
    padding-top: 100px;
}
    
    .onglets
    {
        background-image: url("image_accueil.jpg");
        width:100%;
        padding-bottom: 36%;
        color: #ebced0;
        padding-left: 0px;
        display:flex;
        align-items : center;
        justify-content: space-between;
    }
    
    .categories
    {
        display:flex;
        width: 50%;
        padding-left: 50px;
    }
    
    a
    {
        text-decoration: none;
        color: black;
        
    }
    
    .accueil
    {
        margin: 20px;
    }
    
    .services
    {
        margin: 20px;
    }


    .icone
    {
        padding-right: 20px;
        padding-top: 10px;
    }

    .icone_facebook
    {
        margin-left : 20px;
        margin-right : 20px;
    }
    
    footer
    {display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;}
    
    .services
    {
        display: flex;
        flex-direction : row;
        justify-content: space-around;
    }
    
    
    
    .description
    {border-top: 3px #ebced0 solid; 
        padding: 10px; 
    }

    .temoignage
    {
        border: #ebced0 solid;
        width: 25%;
    }


    
    .webinaires:hover {
        border: 3px #ebced0 solid; 
    margin: 10px
        -webkit-animation: zoom 1s;
                animation: zoom 1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
    
      .conferences:hover {
        -webkit-animation: zoom 1s;
                animation: zoom 1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
    
      .interviews:hover {
        -webkit-animation: zoom 1s;
                animation: zoom 1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
    
      .transcription:hover {
        -webkit-animation: zoom 1s;
                animation: zoom 1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
    
      .redaction:hover {
        -webkit-animation: zoom 1s;
                animation: zoom 1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
    
      .compta:hover {
        -webkit-animation: zoom 1s;
                animation: zoom 1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes zoom {
        from {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        to {
          -webkit-transform: scale(2);
                  transform: scale(2);
          opacity: 1;
        }
      }
    .cadre
    {
        background-color: pink;
    }
    h3
    {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        padding : 20px;
    }
    
    p{  text-align: center; 
        padding : 10px;
    }
    
    .ensemble_temoignages
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }