#conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@font-face {
  font-family:'JetBrainsMono';
  src: url('JetBrainsMono')
}

.selection
{
  color : #ea0b4a;
  font-size: 24px;
  font-weight: bold;
}
.containt
{
    display: flex;
    flex-direction: column;
    width:100%;
}

body 
{
	margin: 0px;
}

.menu
{
  font-size: 20px;
}

header
{
  display:flex;
  position:fixed;
  background:#aee5d8;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.menu_selection
          {
              display : flex;
              flex-direction: row;
          }


label{
  font-size: 20px;
  font-weight: bold;
}

.telephone{
  font-size: 20px;
  font-weight: bold;
}
.header
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containt
{
  width:100%;
}


a
{
    text-decoration: none;
    color: black;
}

.icone_facebook
{
    margin-left : 20px;
    margin-right : 20px;
}

footer
{display: flex;
flex-direction: column;
justify-content: space-around;
text-align: left;
padding-top: 100px;
padding-bottom: 40px;}

/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px) {

    .onglets
        {
            background-image: url("image_accueil.jpg");
            padding-bottom: 47%;
            color: #ebced0;
            padding-left: 0px;
            display:flex;
            align-items : center;
            justify-content: space-between;
        }
      


      a:hover {
            -webkit-transition: color 2s;
                    animation: color 2s;
          }
          
          @-webkit-keyframes color {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            to {
              -webkit-transform: scale(2);
                      transform: scale(2);
              opacity: 1;
            }
          }
      }
}