h2 {
    text-align: center;
    border : 3px #ebced0 solid;
    padding: 20px ;
    background-color: pink;
    margin-left: 20%;
    margin-right: 20%;
}

.titre
{
    margin-top:5%;
}
.image
{
    padding-top: 100px;
}
    
    
   a
    {
        text-decoration: none;
        color: black;
        
    }
    
    .accueil
    {
        margin: 20px;
    }
    
    .services
    {
        margin: 20px;
    }


    .icone
    {
        padding-right: 20px;
        padding-top: 10px;
    }

    .icone_facebook
    {
        margin-left : 20px;
        margin-right : 20px;
    }
    
   
    
    .services
    {
        display: flex;
        flex-direction : row;
        justify-content: space-around;
    }
    
    
    
    .description
    {border-top: 3px #ebced0 solid; 
    padding: 10px; 
    width:50%;
    }

    .temoignage
    {
        border: #ebced0 solid;
        display: flex;
        flex-direction: row;
    }
    .cadre
    {
        background-color: pink;
        width:50%;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
    }

    .photo
    {
        max-width : 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom:5%;

    }

    .star
    {
        color:#ffa41d;
    }
    h3
    {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        padding : 20px;
    }
    
    p{  text-align: center; 
        padding-left : 20px;
        padding-right:20px;
        font-size:25px;
    }

    .apropos
    {
        padding-left:10%;
        padding-right:10%;
    }
    
    .ensemble_temoignages
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 5%;
    }

    /* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
    @media (min-width: 1200px) {
    .ensemble_temoignages
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


   h3
   {
    font-size:25px;
   }

   h2
   {
       font-size: 30px;
       margin-bottom:5%;
       margin-top:5%;
   }
}