#conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.element
{

}
body 
{
	margin: 0px;
}
header
{
  display:flex;
  position:fixed;
  background:#aee5d8;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

label{
  font-size: 20px;
  font-weight: bold;
}

.telephone{
  font-size: 20px;
  font-weight: bold;
}
h2 {
  border : 3px #ebced0 solid;
    background-color: pink;
    text-align: center;
    }


.proposition
{
  display:flex;
  justify-content: center;
}

.onglets
{
    color: #ebced0;
    display:flex;
    flex-direction: row;
}

.header
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categories{
  display: flex;
  flex-direction:row;
}

.containt
{
  width:100%;
}
a
{
    text-decoration: none;
    color: black;
}

.apropos
{
    margin: 20px
}


.icone
{
    padding-right: 20px;
    padding-top: 10px;
}


.icone_facebook
{
    margin-left : 20px;
    margin-right : 20px;
}

footer
{display: flex;
flex-direction: column;
justify-content: space-around;
text-align: left;
padding-top: 100px;
padding-bottom: 40px;}

.menu
{border: 3px #ebced0 solid; 
margin: 10px}

.description
{border: 3px #ebced0 solid; 
    margin: 10px; 
}

.webinaires
{
  border: 3px #ebced0 solid; 
  margin-bottom: 30px;
}


  .conferences
  {
    border: 3px #ebced0 solid; 
    margin-bottom: 30px;
  }


  .interviews
  {
    border: 3px #ebced0 solid; 
    margin-bottom: 30px;
  }



  .transcription
  {
    border: 3px #ebced0 solid; 
    margin-bottom: 30px;
  }



  .redaction
  {
    border: 3px #ebced0 solid; 
    margin-bottom: 30px;
  }



  .compta
  {
    border: 3px #ebced0 solid; 
    margin-bottom: 30px;
  }


h3
{
    text-align: center;

}

p{
    border-top: 3px #ebced0 solid;
    text-align: justify; 
    padding : 10px;
}

/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px) {
    h2 {text-align: center;
        border : 3px #ebced0 solid;
        padding: 20px ;
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: pink;
        margin-left: 20%;
        margin-right: 20%;}
        
        .onglets
        {
            background-image: url("image_accueil.jpg");
            padding-bottom: 36%;
            color: #ebced0;
            padding-left: 0px;
            display:flex;
            align-items : center;
            justify-content: space-between;
        }
        
        .categories
        {
            display:flex;
            width: 50%;
            padding-left: 50px;
        }
        
        a
        {
            text-decoration: none;
            color: black;
        }
        
        .apropos
        {
            margin: 20px
        }
        
        .services
        {
            margin: 20px
        }
        
        .contact
        {
            margin-top: 20px;
            margin-left: 0px;
        }
        
        .icone
        {
            padding-right: 20px;
            padding-top: 10px;
        }
        
        
        .icone_facebook
        {
            margin-left : 20px;
            margin-right : 20px;
        }
        
        footer
        {display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 40px;}
        
        .services
        {
            display: flex;
            flex-direction : column;
            justify-content: space-around;
        }
        
        .menu
        {border: 3px #ebced0 solid; 
        margin: 10px}
        
        .description
        {border: 3px #ebced0 solid; 
            margin: 10px; 
        }
        
        .webinaires
        {
            border: 3px #ebced0 solid; 
        }
        
        .webinaires:hover {
            
        margin: 10px
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .conferences
          {
            border: 3px #ebced0 solid; 
          }
        
          .conferences:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .interviews
          {
            border: 3px #ebced0 solid; 
          }
        
          .interviews:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .transcription
          {
            border: 3px #ebced0 solid; 
          }
        
          .transcription:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .redaction
          {
            border: 3px #ebced0 solid; 
          }
        
          .redaction:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .compta
          {
            border: 3px #ebced0 solid; 
          }
        
          .compta:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
          
          @-webkit-keyframes zoom {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            to {
              -webkit-transform: scale(2);
                      transform: scale(2);
              opacity: 1;
            }
          }
        
        h3
        {
            text-align: center;
            padding-left : 20px;
            padding-right : 20px;
        }
        
        p{
            border-top: 3px #ebced0 solid;
            text-align: justify; 
            padding : 10px;
        }
  }
  
  /* Nouvelles règles si la fenêtre fait plus de 1200px*/
  @media (min-width: 1200px) {
    h2 {text-align: center;
        border : 3px #ebced0 solid;
        padding: 20px ;
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: pink;
        margin-left: 20%;
        margin-right: 20%;}


.header-title-logo img {
    max-height: 150px !important;
}
.header .header-title-nav-wrapper .header-nav {
    display: block !important;
}
.header .header-burger {
  display: none !important;
}
        
        .onglets
        {
            background-image: url("image_accueil.jpg");
            padding-bottom: 36%;
            color: #ebced0;
            padding-left: 0px;
            display:flex;
            align-items : center;
            justify-content: space-between;
        }
        
        .categories
        {
            display:flex;
            width: 50%;
            padding-left: 50px;
        }
        
        a
        {
            text-decoration: none;
            color: black;
        }
        
        .apropos
        {
            margin: 20px
        }
        
        .services
        {
            margin: 20px
        }
        
        .contact
        {
            margin-left: 20px;
            font-size: 16px;
        }
        
        .icone
        {
            padding-right: 20px;
            padding-top: 10px;
        }

        .adresse
        {
          font-size: 16px;
        }
        
        .telephone
        {
          font-size: 20px;
        }
        
        .icone_facebook
        {
            margin-left : 20px;
            margin-right : 20px;
        }
        
        .footer
        {display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 40px;}

        .tel
        {
          font-size:12px;
        }
        
        .services
        {
            display: flex;
            flex-direction : row;
            justify-content: space-around;
        }
        
        .menu
        {border: 3px #ebced0 solid; 
        margin: 10px}
        
        .description
        {border: 3px #ebced0 solid; 
            margin: 10px; 
        }
        
        .webinaires
        {
            border: 3px #ebced0 solid; 
        }
        
        .webinaires:hover {
            
        margin: 10px
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .conferences
          {
            border: 3px #ebced0 solid; 
          }
        
          .conferences:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .interviews
          {
            border: 3px #ebced0 solid; 
          }
        
          .interviews:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .transcription
          {
            border: 3px #ebced0 solid; 
          }
        
          .transcription:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .redaction
          {
            border: 3px #ebced0 solid; 
          }
        
          .redaction:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
        
          .compta
          {
            border: 3px #ebced0 solid; 
          }
        
          .compta:hover {
            -webkit-animation: zoom 1s;
                    animation: zoom 1s;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
          
          @-webkit-keyframes zoom {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            to {
              -webkit-transform: scale(2);
                      transform: scale(2);
              opacity: 1;
            }
          }

          .image:hover {
            -webkit-animation: wiggle 700ms;
                    animation: wiggle 700ms;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
          }
          
          @-webkit-keyframes wiggle {
            0% {
              -webkit-transform: translate(-5px, 0px);
                      transform: translate(-5px, 0px);
            }
            
            100% {
              -webkit-transform: translate(350px, 0px);
                      transform: translate(350px, 0px);
            }
          }
          .image_retranscription
          {
            width:100%;
          }

          
         
          
        
        h3
        {
            text-align: center;
            padding-left : 20px;
            padding-right : 20px;
        }
        
        p{
            border-top: 3px #ebced0 solid;
            text-align: justify; 
            padding : 10px;
        }
  }