.oneservice
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face 
{


    font-family: 'LaBelleAurore-Regular';
    src: url('LaBelleAurore-Regular.ttf') format('ttf');
}



.img-responsive
{
    width: 65%;
    border-radius: 50% 10% 50% 10%;
}


.services
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    align-items: center;
    padding-top: 50px;
}

footer
{
    align-items: center;
}

p{
    color: #07016B;
    font-family:'Lora-SemiBoldItalic';
}

h2{
    text-align: center;
    color: #07016B;
    font-family:'Lora-SemiBoldItalic';
}